<p style="color: green"><%= notice %></p>

<h1>Blocks</h1>

<div>
  <form data-controller="block">
    <div>
      <input type="text" data-block-target="hash" id="hash", placeholder="bitcoin hash">

      <button data-action="click->block#submit">ADD</button>
    </div>
  </form>
</div>


<%= turbo_frame_tag "blocks_frame" do %>
  <%= render @blocks %>
<% end %>
